<!DOCTYPE html>
<html>
<head>
    <title>Available Slots</title>
</head>
<body>

<h1>Available Slots</h1>

<h2>Dr. {{ doctor.username }}</h2>

{% for slot in slots %}

<div>

    <p>
        {{ slot.date }}
        |
        {{ slot.start_time }}
        -
        {{ slot.end_time }}
    </p>

    <form method="POST" action="/bookings/book/{{ slot.id }}/">

        {% csrf_token %}

        <button type="submit">
            Book Slot
        </button>

    </form>

</div>

<hr>

{% empty %}

<p>No available slots.</p>

{% endfor %}

</body>
</html>